Secret Shopper - Automated UX Audit System.json
{
  "name": "Secret Shopper - Automated UX Audit System",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 10
            }
          ]
        }
      },
      "id": "142ef005-e8e0-443f-8b04-2275175165e5",
      "name": "Запуск каждую неделю",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2864,
        48
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "websiteUrl",
              "value": "https://www.intercom.com",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "chatButtonSelector",
              "value": "#intercom-container",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "chatInputSelector",
              "value": ".intercom-composer-input",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "browserlessApiKey",
              "value": "",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "browserlessUrl",
              "value": "https://chrome.browserless.io",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "questionsPerPersona",
              "value": 4,
              "type": "number"
            },
            {
              "id": "id-7",
              "name": "geminiApiKey",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "013c3b78-51db-4e4b-94d7-b9e29e27be4e",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2640,
        48
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "personas",
              "value": "[{\"name\":\"Саша, 22 года, студент\",\"character\":\"много вопросов, боится оплаты, ищет скидку\",\"goal\":\"дёшево и быстро понять\"},{\"name\":\"Олег, 41 год, директор\",\"character\":\"всё дорого, требует демо и скидку 70%\",\"goal\":\"доказать что не стоит денег\"},{\"name\":\"Лена, 29 лет, фрилансер\",\"character\":\"хочу купить за 2 минуты, иначе ухожу\",\"goal\":\"импульсивная покупка\"}]",
              "type": "array"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "af5989cf-54fd-4bfe-ad9e-cfe491203818",
      "name": "Подготовка персон",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2416,
        48
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Parse persona data and prepare for browser automation\n// Note: This node prepares data for browser automation testing\nconst persona = $input.item.json;\n\n// Extract persona information\nconst name = persona.name || 'Unknown';\nconst character = persona.character || '';\nconst goal = persona.goal || '';\n\n// Generate random email address based on persona name\nconst randomString = Math.random().toString(36).substring(2, 10);\nconst sanitizedName = name.toLowerCase().replace(/[^a-z0-9]/g, '').substring(0, 15);\nconst email = `${sanitizedName}${randomString}@testmail.com`;\n\n// Initialize empty arrays for screenshots and chat log\nconst screenshots = [];\nconst chatLog = [];\n\n// Return prepared data\nreturn {\n  json: {\n    name: name,\n    email: email,\n    character: character,\n    goal: goal,\n    screenshots: screenshots,\n    chatLog: chatLog,\n    originalData: persona\n  }\n};"
      },
      "id": "b1d0f86c-45eb-432f-b912-cf0ed8bd5500",
      "name": "Подготовка данных персоны",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1968,
        48
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2b8d2def-348d-48a2-8944-9c2d3ff0d582",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        32,
        272
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "umVU1EMJHHGmmJ15",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1157814299",
        "text": "={{ \"🔍 Отчёт секретных покупателей\" + ($json.totalChunks > 1 ? \" (часть \" + $json.chunkIndex + \" из \" + $json.totalChunks + \")\" : \"\") + \"\\n\\n\" + $json.output + \"\\n\\n\" + ($json.chunkIndex === $json.totalChunks ? \"⏰ Запущено: \" + $now.toFormat(\"dd.MM.yyyy HH:mm\") + \"\\n✅ 3 секретных покупателя завершили миссию.\" : \"⬇️ Продолжение следует...\") }}",
        "additionalFields": {
          "disable_web_page_preview": true
        }
      },
      "id": "969a0e0a-f2c7-4fd1-b3af-663437971e77",
      "name": "Отправить в Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        528,
        48
      ],
      "webhookId": "d4cc86ad-76e8-4581-95a5-d6ef8ba8f260",
      "credentials": {
        "telegramApi": {
          "id": "nrK2CzGT2LLT38s9",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -544,
        272
      ],
      "id": "f620e15f-2da1-4720-af99-e4f727b17a38",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "umVU1EMJHHGmmJ15",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "personas",
        "options": {}
      },
      "id": "768cae51-e468-429d-97b9-bab50dff6c72",
      "name": "Разделяем на 3 персоны",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -2192,
        48
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "8af2a154-7c37-47f4-83a7-ec9971cf9388",
      "name": "Собираем все 3 отчёта",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -272,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "// Split text into multiple chunks to fit Telegram's message limit (4096 chars)\n// We use 3500 to leave room for formatting and metadata\n// Split on word boundaries to avoid cutting words in half\nconst maxLength = 3500;\nconst items = $input.all();\n\nconst result = [];\n\nfor (const item of items) {\n  let text = item.json.output || '';\n  \n  // Remove Markdown formatting characters to avoid parsing errors\n  text = text.replace(/[*_`]/g, '');\n  \n  // If text fits in one message, return as is\n  if (text.length <= maxLength) {\n    result.push({\n      json: {\n        ...item.json,\n        output: text,\n        chunkIndex: 1,\n        totalChunks: 1\n      }\n    });\n    continue;\n  }\n  \n  // Split text into chunks, preserving whole words\n  const chunks = [];\n  let currentChunk = '';\n  const words = text.split(' ');\n  \n  for (const word of words) {\n    // Check if adding this word would exceed the limit\n    if ((currentChunk + ' ' + word).length > maxLength) {\n      // Save current chunk and start a new one\n      if (currentChunk) {\n        chunks.push(currentChunk.trim());\n      }\n      currentChunk = word;\n    } else {\n      currentChunk += (currentChunk ? ' ' : '') + word;\n    }\n  }\n  \n  // Add the last chunk\n  if (currentChunk) {\n    chunks.push(currentChunk.trim());\n  }\n  \n  // Create separate items for each chunk\n  const totalChunks = chunks.length;\n  chunks.forEach((chunk, index) => {\n    result.push({\n      json: {\n        ...item.json,\n        output: chunk,\n        chunkIndex: index + 1,\n        totalChunks: totalChunks\n      }\n    });\n  });\n}\n\nreturn result;"
      },
      "id": "f264ae49-bd41-4c00-8f83-37cfafe4c12d",
      "name": "Обрезка текста для Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        48
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key={{ $('Workflow Configuration').first().json.geminiApiKey }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"=Ты — {{ $json.name }}. Твой характер: {{ $json.character }}. Твоя цель: {{ $json.goal }}.\\n\\nСгенерируй {{ $('Workflow Configuration').first().json.questionsPerPersona }} вопроса, которые ты задашь в чате поддержки сайта. Вопросы должны соответствовать твоему характеру и цели.\\n\\nОтветь ТОЛЬКО списком вопросов, по одному на строку, без нумерации.\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "dda07ed6-4ed2-4f81-821e-923c36491429",
      "name": "Gemini: Генерация вопросов",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1744,
        48
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const generatedText = $input.item.json.candidates[0].content.parts[0].text;\nconst questions = generatedText.split('\\n').map(q => q.trim()).filter(q => q.length > 0);\nreturn {\n  json: {\n    ...$('Подготовка данных персоны').item.json,\n    questions: questions\n  }\n};"
      },
      "id": "dbfb9cd9-11b8-4cbd-bfbd-b43f12c4296f",
      "name": "Парсинг вопросов",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1520,
        48
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Parse Browserless response and extract chat log\n// Merge with persona data from previous node\n\nconst browserlessResponse = $input.item.json;\nconst personaData = $('Парсинг вопросов').item.json;\n\n// Extract chat log from Browserless response\n// Assuming the response contains a chatLog field or similar structure\nlet chatLog = [];\n\nif (browserlessResponse.chatLog) {\n  chatLog = browserlessResponse.chatLog;\n} else if (browserlessResponse.data && browserlessResponse.data.chatLog) {\n  chatLog = browserlessResponse.data.chatLog;\n} else if (browserlessResponse.messages) {\n  chatLog = browserlessResponse.messages;\n} else {\n  // If no chat log found, create empty array\n  chatLog = [];\n}\n\n// Merge persona data with chat log\nreturn {\n  json: {\n    name: personaData.name,\n    character: personaData.character,\n    goal: personaData.goal,\n    questions: personaData.questions,\n    chatLog: chatLog\n  }\n};"
      },
      "id": "86edea59-527b-4fd1-bcb8-6ab91423225c",
      "name": "Парсинг лога чата",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -848,
        48
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Build Browserless API request body with Puppeteer script\n// Get configuration from Workflow Configuration node\nconst config = $('Workflow Configuration').first().json;\nconst personaData = $input.item.json;\n\n// Build the Puppeteer script as a string\n// Note: Browserless expects raw async function, not module.exports wrapper\nconst puppeteerScript = `async ({ page }) => {\n  const websiteUrl = '${config.websiteUrl}';\n  const chatButtonSelector = '${config.chatButtonSelector}';\n  const chatInputSelector = '${config.chatInputSelector}';\n  const questions = ${JSON.stringify(personaData.questions)};\n\n  // Navigate to website\n  await page.goto(websiteUrl, { waitUntil: 'networkidle2' });\n\n  // Wait for and click chat button\n  await page.waitForSelector(chatButtonSelector, { timeout: 10000 });\n  await page.click(chatButtonSelector);\n\n  // Wait for chat input to appear\n  await page.waitForSelector(chatInputSelector, { timeout: 10000 });\n  await page.waitForTimeout(2000);\n\n  // Type each question with delays\n  for (const question of questions) {\n    await page.type(chatInputSelector, question);\n    await page.keyboard.press('Enter');\n    await page.waitForTimeout(3000);\n  }\n\n  // Wait for responses to load\n  await page.waitForTimeout(5000);\n\n  // Extract chat log\n  const chatLog = await page.evaluate(() => {\n    const messages = document.querySelectorAll('.intercom-comment, .intercom-message');\n    return Array.from(messages).map(msg => msg.innerText).join('\\\\n---\\\\n');\n  });\n\n  return { chatLog };\n};`;\n\n// Return the request body for Browserless API with proper structure\nreturn {\n  json: {\n    requestBody: {\n      code: puppeteerScript\n    },\n    browserlessUrl: config.browserlessUrl,\n    browserlessApiKey: config.browserlessApiKey,\n    personaData: personaData\n  }\n};"
      },
      "id": "032035e7-44cd-42d7-b61b-ce207f286253",
      "name": "Подготовка Browserless запроса",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1296,
        48
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.browserlessUrl }}/function?token={{ $json.browserlessApiKey }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/javascript"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/javascript",
        "body": "={{ $json.requestBody.code }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 5000
            }
          }
        }
      },
      "id": "8bd87ffe-b04c-4051-b13e-f9137c31c555",
      "name": "Browserless: Выполнить скрипт",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1072,
        48
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Имя: {{ $json.name }}, Характер: {{ $json.character }}, Цель: {{ $json.goal }}.\n\nВопросы которые задал пользователь:\n{{ $json.questions.join(\"\\n\") }}\n\nЛог чата:\n{{ $json.chatLog.join(\"\\n\") }}\n\nПроанализируй этот диалог с точки зрения UX и дай рекомендации.",
        "options": {
          "systemMessage": "Ты — жёсткий UX-аудитор. Проанализируй вопросы потенциального покупателя и определи:\n1. Какие проблемы с UX сайта видны из этих вопросов\n2. Что непонятно пользователю\n3. Какие улучшения нужны\n\nПиши максимально конкретно и практично. Формат: список проблем с рекомендациями."
        }
      },
      "id": "203792a2-f209-4bc0-bb54-1fb06103bb02",
      "name": "Анализ одного покупателя",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -624,
        48
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data.map((item, i) => `Отчёт ${i+1}:\n${item.output}`).join('\\n\\n') }}",
        "options": {
          "systemMessage": "Ты — главный UX-аудитор. Получи три отчёта от разных покупателей и создай единый комплексный аудит сайта.\n\nТвоя задача:\n1. Проанализировать все три отчёта\n2. Выделить ТОП-10 критических проблем (с примерами из отчётов)\n3. Предложить ТОП-5 быстрых побед для улучшения UX\n4. Дать общую оценку пользовательского опыта\n\nПиши на русском языке, максимально конкретно и практично."
        }
      },
      "id": "4b281830-ea8b-4220-a61c-ef9d9cb27d67",
      "name": "Итоговый аудит",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -48,
        48
      ]
    },
    {
      "parameters": {
        "content": "## Weekly AI-Powered UX Audit via Chat\n\n### How it works\n1. The workflow triggers weekly, defining website URL, chat selectors, and API keys.\n2. It creates three distinct user personas with specific characters and goals.\n3. For each persona, AI generates tailored questions for the website's chat support.\n4. Browser automation simulates each persona asking questions in the website chat.\n5. AI analyzes each persona's chat interaction, identifying UX issues and recommendations.\n6. A final AI audit consolidates all findings into a comprehensive report, highlighting top problems and quick wins.\n7. The complete UX audit report is sent to a specified Telegram chat.\n\n### Setup\n- [ ] Connect Google Gemini API account.\n- [ ] Connect Telegram API account.\n- [ ] Set `websiteUrl`, `chatButtonSelector`, and `chatInputSelector` in \"Workflow Configuration\".\n- [ ] Add your Browserless API key.\n- [ ] Customize user `personas` or add new ones.\n- [ ] Configure the Telegram Chat ID to receive reports.\n- [ ] Set the schedule to run daily/weekly as needed.",
        "height": 576,
        "width": 624
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3776,
        -240
      ],
      "id": "553d5776-483a-41e8-a172-822c487eb5da",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Запуск каждую неделю": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Подготовка персон",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготовка персон": {
      "main": [
        [
          {
            "node": "Разделяем на 3 персоны",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготовка данных персоны": {
      "main": [
        [
          {
            "node": "Gemini: Генерация вопросов",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Итоговый аудит",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Анализ одного покупателя",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Разделяем на 3 персоны": {
      "main": [
        [
          {
            "node": "Подготовка данных персоны",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Собираем все 3 отчёта": {
      "main": [
        [
          {
            "node": "Итоговый аудит",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Обрезка текста для Telegram": {
      "main": [
        [
          {
            "node": "Отправить в Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini: Генерация вопросов": {
      "main": [
        [
          {
            "node": "Парсинг вопросов",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Парсинг вопросов": {
      "main": [
        [
          {
            "node": "Подготовка Browserless запроса",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Парсинг лога чата": {
      "main": [
        [
          {
            "node": "Анализ одного покупателя",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготовка Browserless запроса": {
      "main": [
        [
          {
            "node": "Browserless: Выполнить скрипт",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Browserless: Выполнить скрипт": {
      "main": [
        [
          {
            "node": "Парсинг лога чата",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Анализ одного покупателя": {
      "main": [
        [
          {
            "node": "Собираем все 3 отчёта",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Итоговый аудит": {
      "main": [
        [
          {
            "node": "Обрезка текста для Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "8385296c-6268-4963-81af-f081faef2597",
  "meta": {
    "instanceId": "687954878a8c8db6540061dabe99424a8dd84b9cf245ba0167500f55edb99e41"
  },
  "id": "Aq0Iy5eudqg6UbJOYFhxy",
  "tags": []
}